# Rui Zhang 01/09/2024
# funsearch requires the following requirements
# Python version MUST be larger or equal than Python 3.9 !!!

transformers == 4.48.2
bitsandbytes
torch == 2.6.0
absl-py == 2.1.0
scipy
flask
flask-cors
numba
tensorboard == 2.17.0
tensorboardX
numpy == 1.26.2

